.v-toast {
  &__item {
    // Foreground Colors
    @each $color, $value in $toast-texts {
      &--#{$color} {
        color: $value;
        --text-color: #{$value};
      }
    }

  }

  &__close {
    path {
      fill: var(--text-color);
    }
  }
}
